{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Krishna | Python Backend Developer{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/lucide@latest"></script>
    <style>
        @keyframes fadeUp {
            from {
            opacity: 0;
            transform: translateY(16px);
            }
            to {
            opacity: 1;
            transform: translateY(0);
            }
        }

  
        @keyframes blurReveal {
            from {
            opacity: 0;
            filter: blur(10px);
            transform: translateY(8px);
            }
            to {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);
            }
        }

  .blur-word {
    display: inline-block;
    opacity: 0;
    animation: blurReveal 0.6s ease-out forwards;
  }
</style>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
    {% block extra_head %}{% endblock %}
    
</head>
<body>

<div class="page-guides">

    <nav class="navbar">
        <div class="nav-left">
            <span class="logo"><a href="/">BKT.</a></span>
        </div>

        <ul class="nav-center">
            <li><a href="/projects/">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <div class="nav-right">
            <a href="https://drive.google.com/file/d/1ZaBhPi0ASOqwGAGy6fo19IbwQYOnbLSt/view" class="resume-btn">Resume</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</div>
<footer class="footer relative overflow-hidden">
    <div class="footer-top">

        <!-- LEFT -->
        <div class="footer-left">
            <h2>
                Created with <span>care</span>
            </h2>
            <p>
                I’m happy you’re here. I hope you found<br>
                something worth taking with you.
            </p>

            <div class="flex gap-[14px]">
    <a href="https://www.linkedin.com/in/bkt0/" 
       target="_blank" 
       class="w-[44px] h-[44px] border border-dashed border-[#ccc] rounded-full flex items-center justify-center text-black text-[14px] transition-all duration-300 ease-in-out hover:bg-black hover:text-white hover:border-black"
       aria-label="LinkedIn">
        <i data-lucide="linkedin" class="w-4 h-4"></i>
    </a>
    <a href="https://github.com/krsna-t" 
       target="_blank" 
       class="w-[44px] h-[44px] border border-dashed border-[#ccc] rounded-full flex items-center justify-center text-black text-[14px] transition-all duration-300 ease-in-out hover:bg-black hover:text-white hover:border-black"
       aria-label="GitHub">
        <i data-lucide="github" class="w-4 h-4"></i>
    </a>
    <a href="mailto:balkrishna28tiwari@gmail.com" 
       class="w-[44px] h-[44px] border border-dashed border-[#ccc] rounded-full flex items-center justify-center text-black text-[14px] transition-all duration-300 ease-in-out hover:bg-black hover:text-white hover:border-black"
       aria-label="Email">
        <i data-lucide="mail" class="w-4 h-4"></i>
    </a>
</div>
        </div>

        <!-- RIGHT -->
        <div class="footer-links">

            <div class="footer-column">
                <h4>Portfolio</h4>
                <a href="/">Home</a>
                <a href="/projects">Work</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>

            <div class="footer-column">
                <h4>Information</h4>
                <a href="/privacy">Privacy policy</a>
                <a href="/terms">Terms</a>
            </div>

        </div>
    </div>

    <!-- BOTTOM -->
    <div class="footer-bottom relative">
        <hr class="border-t border-dashed border-black/20
                -mx-6 md:-mx-10 lg:-mx-16 mb-6" />

        <p class="relative z-10">
            © {{ year|default:"2025" }} Portfolio by Balkrishna Tiwari
        </p>

        <span
            class="absolute right-[-80px] bottom-[-30px] 
                pr-24
                text-[50px] font-bold
                text-black/90
                pointer-events-none select-none
                whitespace-nowrap
                z-0">
            Balkrishna Tiwari
        </span>
    </div>
</footer>

<script>
  lucide.createIcons(); 
</script>
<script src="{% static 'js/carousel.js' %}"></script>
<div class="bottom-blur-overlay"></div>

</body>
</html>
